<div ng-controller="InvoicesController" ng-init="refresh()">
	<div class="well">
		<div class="row-fluid">
			<a href="#/customers/{{params.customer_id}}/invoices/new" class="btn" ng-show="params.customer_id"><i class="icon-plus"></i> Invoice</a>
			<button class="btn pull-right" ng-click="refresh()"><i class="icon-refresh"></i> Refresh</button>
		</div>
	</div>
	<div class="row-fluid">
		<table class="table table-stripped">
			<tr>
				<th class="fit"><br /></th>
				<th>ID</th>
				<th ng-show="layout=='merchant'">Customer</th>
				<th>Status</th>
				<th>Transaction Date</th>
				<th class="fit"><br /></th>
			</th>
			<tr ng-repeat="invoice in invoices" class="invoice">
				<td><input type="checkbox" ng-model="i.id"></td>
				<td>{{invoice.id}}</td>
				<td ng-show="layout=='merchant'">{{invoice.customer_title}}</td>
				<td>{{invoice.state}}</td>
				<td>{{invoice.transaction_date}}</td>
				<td class="btn-toolbar">
					<div class="btn-group">
						<button data-toggle="dropdown" class="btn btn-small dropdown-toggle"><span class="icon-cog"></span> <span class="caret"></span>
						</button>
						<ul class="dropdown-menu pull-right">
							<li><a href="#/customers/{{invoice.customer_id}}/invoices/{{invoice.id}}"><i class="icon-pencil"></i> Edit</a></li>
							<li><a ng-click="remove(i.id)"><i class="icon-remove"></i> Delete</a></li>
						</ul>
					</div>
				</td>
			</tr>
		</table>
	</div>
</div>