<div ng-controller="PlanController">
	<div class="well">
		<div class="row-fluid">
			<a href="#/plans" class="btn pull-left"><i class="icon-arrow-left"></i> Back</a>
		</div>
	</div>
	<form data-ng-submit="save()">
    <fieldset>
      <legend>General</legend>
      <div class="row-fluid">
        <div class="span12">
          <label for="name">Name</label>
          <input id="name" type="text" data-ng-model="plan.name" class="span12" />
        </div>
      </div>
      <div class="row-fluid">
        <div class="span12">
          <label for="title">Title</label>
          <input id="title" type="text" data-ng-model="plan.title" class="span12" />
        </div>
      </div>
      <div class="row-fluid">
        <div class="span12">
          <label for="description">Description</label>
          <textarea id="description" data-ng-model="plan.description" class="span12"></textarea>
        </div>
      </div>
      <div class="row-fluid">
          <a href="#/plans pull-left">Cancel</a>
          <button class="btn btn-primary pull-right">Save</button>
      </div>
    </fieldset>
  </form>
</div>