<div ng-controller="PaymentMethodController">
	<div class="well">
		<div class="row-fluid">
			<a href="#/payment-methods" class="btn pull-left"><i class="icon-arrow-left"></i> Back</a>
		</div>
	</div>
  <form data-ng-submit="save()">
		<fieldset>
			<legend></legend>
				<div class="row-fluid">
					<div class="span12">
						<label>Payement Gateway</label>
						<select type="text" class="span12 payment-gateway-providers" data-ng-model="paymentMethod.provider_config_id" ng-options="pg.id as pg.title for pg in paymentGatewayProviders"></select>
					</div>
				</div>
				<div class="row-fluid">
					<div class="span12">
						<label>Card Holder Name</label>
						<input type="text" class="span12" data-ng-model="paymentMethod.name" />
						<input type="text" class="span12" data-ng-model="paymentMethod.identifier" />
					</div>
				</div>
				<div class="row-fluid">
					<div class="span6">
						<label>Card Number</label>
						<input type="text" class="span12" data-ng-model="paymentMethod.properties.number" />
					</div>
					<div class="span3">
						<label>Expiration (MM/YYYY)</label>
						<input type="text" class="span12" data-ng-model="paymentMethod.expires" />
					</div>
					<div class="span3">
						<label>CVV</label>
						<input type="text" class="span12" data-ng-model="paymentMethod.properties.cvv" />
					</div>
				</div>
		</fieldset>
		<div class="row-fluid">
      <div class="pull-left">
        <a href="#/customers/{{params.customer}}/payment-methods">Cancel</a>
      </div>
      <div class="pull-right">
        <button class="btn btn-primary">Save</button>
      </div>
    </div>
	</form>
</div>