<ul class="nav nav-pills">
	<li ng-class="{active:ifPath('/products')}"><a href="index.html#/products">Products</a></li>
	<li ng-class="{active:ifPath('/plans')}"><a href="index.html#/plans">Plans</a></li>
	<li ng-class="{active:ifPath('/customers')}"><a href="index.html#/customers">Customers</a></li>
	<li ng-class="{active:ifPath('/subscriptions')}"><a href="index.html#/subscriptions">Subscriptions</a></li>
	<li ng-class="{active:ifPath('/usage')}"><a href="index.html#/usage">Usage</a></li>
	<li ng-class="{active:ifPath('/invoices')}"><a href="index.html#/invoices">Invoices</a></li>
	<li ng-class="{active:ifPath('/transactions')}"><a href="index.html#/transactions">Transactions</a></li>
</ul>